.link {
  position: relative;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}

::before.link {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1.5;
  height: 0.5;
  transform-origin: left;
  transform: scaleX(0);
  border-bottom-left-radius: 4px;
  background: black;
  transition: all 200ms;
}

::before.link:hover {
  transform: scaleX(100);
}
